{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<h2 class="text-center mt-3">Shopping Basket</h2>

{% endblock %}

{% block content %}

<section>
    <!-- basket total summary -->
    <div class="row">
        <div class="col-6">
            <h4><strong>Grand Total: </strong>
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </h4>
        </div>
    </div>

    {% if bag_items %}

    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            {% for item in bag_items %}
                <tr>
                    <td class="basket-image">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    </td>
                    <td>
                        <p><strong>{{ item.product.name }}</strong></p>
                    </td>
                    <td>
                        <p><strong>£{{ item.product.price }}</strong></p>
                    </td>
                    <td><p><strong>{{ item.quantity }}</strong></p></td>
                    <td><p><strong></strong></p></td>
                    <td>
                        
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="7" class="text-right">
                        <p><strong>Basket Total:</strong> £{{ total|floatformat:2 }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-right">
                        <p><strong>Delivery:</strong> £{{ delivery|floatformat:2 }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-right">
                        <p><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></p>
                    </td>
                </tr>
        </table>
        <div class="row">
            <!-- keep shopping button -->
            <div class="col-6 text-right text-uppercase">
                <a href="{% url 'products' %}" class="btn btn-md btn-primary">
                    <i class="fa-solid fa-chevron-left"></i>
                    <span>Keep shopping</span>
                </a>
            </div>
            <!-- or checkout button -->
            <div class="col-6 text-right">
                <a href=""><button class="btn btn-md bg-secondary text-uppercase">checkout</button></a>
            </div>
        </div>

    </div>

    {% else %}
        <p>Your bag is empty</p>
        <a href="{% url 'products' %}" class="btn btn-md btn-primary">
            <i class="fa-solid fa-chevron-left"></i>
            <span>Keep shopping</span>
        </a>
    {% endif %}

    

</section>


{% endblock %}