{% extends "base.html" %}
{% load static %}

{% block page_header %}

<h2 class="text-center mt-3">Thank You</h2>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<section class="mb-3">
    <div class="row">
        <div class="col-12">
            <h4>Thanks your order has been submitted.
                Your order number is <strong>{{ order.order_number }}</strong> An order confirmation will be sent to <strong>{{ order.email }}</strong></h4>
        </div>
        <a href="{% url 'home' %}" class="btn btn-md btn-primary mb-3">
            <i class="fa-solid fa-chevron-left"></i>
            <span>Back to the homepage</span>
        </a>
    </div>


</section>


{% endblock %}