{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<h2 class="text-center mt-3">Shopping Basket</h2>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<section>
    <!-- basket total summary -->
    <div class="row">
        <div class="col-6">
            <h4><strong>Grand Total: </strong>
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please fill out the form below to complete your order.</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded">
                    <legend class="fieldset-label">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    <legend class="fieldset-label">Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                </fieldset>
            </form>
        </div>
    </div>


</section>


{% endblock %}