<div class="row">
    <div class="col-12 d-none d-lg-flex list-inline justify-content-center bg-light">
        <ul class="list-inline">
            <!-- home -->
            <li class="list-inline-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <!-- products -->
            <li class="dropdown list-inline-item">
                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Best Sellers</a></li>
                    <li><a class="dropdown-item" href="#">Room Sprays</a></li>
                    <li><a class="dropdown-item" href="#">Candles & Wax Melts</a></li>
                    <li><a class="dropdown-item" href="#">Sale</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>