{% extends 'base.html' %}

{% block content %}

<h1>Blog Page</h1>

<div class="row mb-4 mt-4 ml-4">
    <div class="col-12">
        <button><a href="{% url 'create_post' %}">Create a post</a></button>
    </div>
</div>

<!-- View all blog posts -->
<div class="row ml-4">
    {% for x in posts %}
    <div class="col-3">
        <h4>{{ x.blog_title }}</h4>
        <p>{{ x.content }}</p>
        <small>{{ x.author }}</small>
        <small>{{ x.created_on }}</small>
        <div class="row">
            <div class="col-6">
                <button><a href="{% url 'update_post' x.id %}">Edit Post</a></button>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
    

{% endblock %}
