{% extends 'base.html' %}

{% block content %}

<h1 class="ml-4 mt-3">Read Post Page</h1>

<div class="ml-4">
    <div class="row">
        <div class="col-6">
            <h3>{{ post.blog_title }}</h3>
            <p>{{ post.content }}</p>
            <small><p>{{ post.author }}</p></small>
            <small><p>{{ post.created_on }}</p></small>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6">
            <button><a href="{% url 'update_post' post.id %}">Edit Post</a></button>
        </div>
        <div class="col-6">
            <button><a href="{% url 'view_blog' %}">Go back to the main blog</a></button>
        </div>
    </div>
</div>

{% endblock %}
