{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags from Bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--allows for older browsers without throwing up html validation errors-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Zafiya{% block extra_title %}{% endblock %}</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f2b99ab49c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</head>

<body>

    <header class="container-fluid text-center">
        <div class="row d-none d-lg-flex pt-lg-3">
            <!-- logo -->
            <div class="col-12 col-lg-3 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <h2>zafiya</h2>
                    <p class="text-uppercase">home <strong>fragrances</strong></p>
                </a>
            </div>
            <!-- search form -->
            <div class="col-12 col-lg-4 text-center">
                <form action="" method="GET">
                    <input class="border-black border" type="text" name="search" placeholder="Search the store">
                    <button class="btn btn-sm border-black border" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <!-- right menu -->
            <div class="col-12 col-lg-5 text-center">
                <ul class="list-inline list-unstyled text-lg-right">
                    <!-- account -->
                    <li class="list-inline-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="#">Product Management</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- contact -->
                    <!-- <li class="list-inline-item dropdown">
                        <a class="nav-link" href="">Contact</a>
                    </li> -->
                    <!-- basket -->
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            Basket
                            {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% include 'includes/mobile-nav.html' %}
        {% include 'includes/main-nav.html' %}

        <!-- free delivery banner -->
        <div class="row bg-secondary">
            <div class="col-12">
                <h5 class="text-uppercase mt-2 text-light">free delivery on orders over £{{ free_delivery_threshold }}!
                </h5>
            </div>
        </div>

    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="bg-secondary">
        <ul class="footer-links list-group list-group-horizontal justify-content-center">
            <li class="list-group-item"><a href="https://en-gb.facebook.com/" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a></li>
            <li class="list-group-item"><a href="https://www.instagram.com/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a></li>
            <li class="list-group-item"><a href="https://twitter.com/?lang=en" target="_blank"><i
                        class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>