{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags from Bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--allows for older browsers without throwing up html validation errors-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Zafiya{% block extra_title %}{% endblock %}</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</head>

<body>

    <header class="text-center">
        <h1>zafiya</h1>
        <p>HOME <strong>FRAGRANCES</strong></p>
        <nav class="navbar navbar-expand bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Best Sellers</a></li>
                                <li><a class="dropdown-item" href="#">Room Sprays</a></li>
                                <li><a class="dropdown-item" href="#">Candles & Wax Melts</a></li>
                                <li><a class="dropdown-item" href="#">Sale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <li><a class="dropdown-item" href="#">Product Management</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Basket
                            {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- search box -->
        <div class="row">
            <div class="col-12 text-center">
                <form action="" method="GET">
                    <input class="border-black border" type="text" name="search" placeholder="Search the store">
                    <button class="btn btn-sm border-black border" type="submit">Search</button>
                </form>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>